<mat-card class="course-app cardWithShadow">
  <mat-card-content class="p-24 ">
      @if (!profile.type.localeCompare("teacher")) {
      <a mat-flat-button color="primary" [routerLink]="['']">Create Course</a>
      }
      @if (!profile.type.localeCompare("student")) {
  <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
    <input
      type="text"
      name="courseCode"
      ngModel
      required
      placeholder="Enter course code"
      style="padding: 10px; font-size: 16px; width: 250px; margin-right: 10px;"
    />
    <a
      type="submit"
      [disabled]="!courseForm.valid"
      mat-flat-button color="primary"
    >
      Join Course
  </a>
  </form>
      }
  </mat-card-content>
</mat-card>

  <div class="row">
    @for(course of courses; track course.Id) {
    <div class="col-sm-6 col-lg-4">
      <mat-card class="cardWithShadow overflow-hidden">
        <mat-card-header
          style="background: brown;"
          class="course-header d-flex justify-content-between"
        >
          <mat-card-title class="m-b-0 f-s-16">
            {{ course.description }}
          </mat-card-title>
          <span class="d-flex align-items-center gap-4"
            ><i-tabler name="clock" class="icon-16 d-flex"></i-tabler
            >{{ course.startDate }}</span
          >
        </mat-card-header>
        <mat-card-content class="text-center p-y-24">
          <h3 class="m-b-10 mat-subtitle-2 f-s-16 f-w-600 text-dark">
            {{ course.tittle }}
          </h3>
          <span class="mat-body-1">{{ course.description }}</span>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="text-center p-y-8">
          <a
              mat-button
              [routerLink]="['/apps/courses/coursesdetail/', course.Id]"
              class="w-100"
            >
              START
            </a>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
