<mat-card class="people-card mt-3">
    <mat-card-content>
      <div class="teacher-section">
        <h3>Enseignant</h3>
        <div class="teacher-info">
          <div class="avatar" [style.background-color]="getColor(courseDetail?.teacher?.email || '')">
            {{ getInitial(courseDetail?.teacher?.email || '') }}
          </div>
          <div class="teacher-name">
            {{ courseDetail?.teacher?.firstName }} {{ courseDetail?.teacher?.lastName }}
          </div>
        </div>
      </div>
  
      <div class="students-section">
        <h3>Étudiants</h3>
        <div class="student-list">
          <div *ngFor="let student of students" class="student-item">
            <div class="avatar" [style.background-color]="getColor(student.email)">
              {{ getInitial(student.email) }}
            </div>
            <div class="student-info">
              <div class="student-name">
                {{ student.firstName }} {{ student.lastName }}
              </div>
              <div class="student-email">
                {{ student.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>