<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <!-- Search Bar -->
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search Absences"
            (keyup)="applyFilter($event)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Column Definitions -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
        </ng-container>

        <ng-container matColumnDef="justified">
          <th mat-header-cell *matHeaderCellDef>Justified</th>
          <td mat-cell *matCellDef="let element">{{ element.justified ? 'Yes' : 'No' }}</td>
        </ng-container>

        <ng-container matColumnDef="justify">
          <th mat-header-cell *matHeaderCellDef>Justify Absence</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-button
              color="primary"
              (click)="openJustificationDialog(element)"
              [disabled]="element.justified"
            >
              Justify
            </button>
          </td>
        </ng-container>

        <!-- Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>