<div class="course-detail-container">
  <mat-card
    *ngIf="courseDetail"
    class="course-header-card overflow-hidden"
    [ngStyle]="{ 'background': colorService.generateFancyDarkGradientFromId(courseDetail.id) }"
  >
    <mat-card-content class="text-white p-16">
      <div class="header-content" style="margin-left: 16px;">
        <button mat-icon-button class="back-button" (click)="goBack()">
          <i-tabler name="chevron-left" class="icon-18"></i-tabler>
        </button>

        <div class="course-title">
          <h1 class="mat-headline">{{ courseDetail.title }}</h1>
          <p class="mat-caption">{{ courseDetail.description }}</p>
        </div>

        <div class="course-info">
          <div class="info-item">
            <mat-icon class="info-icon">calendar_today</mat-icon>
            <span>Date de début : {{ courseDetail.startDate | date }}</span>
          </div>
          <div class="info-item">
            <mat-icon class="info-icon">school</mat-icon>
            <span *ngIf="courseDetail.teacher">
              Enseignant : {{ courseDetail.teacher.firstName }} {{ courseDetail.teacher.lastName }}
            </span>
            <span *ngIf="!courseDetail.teacher">Enseignant : Non spécifié</span>
          </div>
        </div>

        <button
          *ngIf="courseDetail.courseCode"
          mat-fab
          class="course-code-button"
          (click)="showCourseCode()"
          [ngStyle]="{ 'background': colorService.generateFancyDarkGradientFromId(courseDetail.id) }"
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="!courseDetail" class="no-course-message">
    <p>Aucune donnée de cours disponible.</p>
  </div>

  <div *ngIf="isCourseCodeVisible && courseDetail" class="course-code-modal">
    <div
      class="modal-content"
      [ngStyle]="{ 'background': colorService.generateFancyDarkGradientFromId(courseDetail.id) }"
    >
      <h2>Code du cours</h2>
      <p>{{ courseDetail.courseCode }}</p>
      <button mat-button (click)="hideCourseCode()">Fermer</button>
    </div>
  </div>

  <nav *ngIf="courseDetail" mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let tab of tabs"
      [routerLink]="tab.route"
      routerLinkActive="active-tab"
      (click)="onTabClick(tab.route)"
    >
      {{ tab.label }}
    </a>
  </nav>

  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>