<mat-card class="course-app cardWithShadow">
  <div class="row align-items-center">
    <div class="col-sm-6 col-lg-8">
      <mat-card-content class="p-28">
        <mat-form-field appearance="outline" class="hide-hint search-field" color="primary" class="all">
          <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher ici" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
    </div>
    <div class="col-sm-6 col-lg-4">
      <mat-card-content class="p-28">
        <div class="action-buttons">
          @if(this.authService.isTeacher()) {
            <button mat-flat-button color="primary" class="create-course-button" (click)="openCreateCourseDialog()">
              Créer un cours
            </button>
          } @else {
            <form #courseForm="ngForm" (ngSubmit)="onSubmit()" class="join-course-form">
              <input
                type="text"
                name="courseCode"
                ngModel
                required
                [(ngModel)]="courseCode"
                placeholder="Entrez le code du cours"
                class="course-code-input"
              />
              <button
                type="submit"
                [disabled]="!courseForm.valid"
                mat-flat-button
                color="primary"
                class="join-course-button"
              >
                Rejoindre le cours
              </button>
            </form>
          }
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>

<div class="row">
  @for(course of courses; track course.id) {
    <div class="col-sm-6 col-lg-4">
      <mat-card class="cardWithShadow overflow-hidden">
        <mat-card-header
          [ngStyle]="{
            background: colorService.generateFancyDarkGradientFromId(course.id)
          }"
          class="course-header d-flex justify-content-between"
        >
          <mat-card-title class="m-b-0 f-s-16">
            {{ course.type }}
          </mat-card-title>
          <span class="d-flex align-items-center gap-4"
            ><i-tabler name="clock" class="icon-16 d-flex"></i-tabler
            >{{ course.startDate | date : "shortTime" }}</span
          >
        </mat-card-header>
        <mat-card-content class="text-center p-y-24">
          <h3 class="m-b-10 mat-subtitle-2 f-s-16 f-w-600 text-dark">
            {{ course.title }}
          </h3>
          <span class="mat-body-1">{{ course.description }}</span>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="text-center p-y-8">
          <a
            mat-button
            [routerLink]="['/apps/courses/coursesdetail/', course.id]"
            (click)="storeCourseInLocalStorage(course)"
            class="w-100"
          >
            Commencer
          </a>
          <!-- Bouton de suppression visible uniquement pour les enseignants -->
          <button
            *ngIf="this.authService.isTeacher()"
            mat-button
            color="warn"
            (click)="deleteCourse(course.id)"
            class="w-100"
          >
            <mat-icon>delete</mat-icon> Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  }
</div>