<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Student" (keyup)="applyFilter($event)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- Index Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.firstName }} {{ element.lastName }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Email</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.email }}</td>
        </ng-container>

        <!-- Justified Absences -->
        <ng-container matColumnDef="justified">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Justified</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.absenceCounts.justifiedCount }}
          </td>
        </ng-container>

        <!-- Non-Justified Absences -->
        <ng-container matColumnDef="nonJustified">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Non-Justified</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.absenceCounts.nonJustifiedCount }}
          </td>
        </ng-container>

        <!-- Total Absences -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Total</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.absenceCounts.totalCount }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Action</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a class="m-r-10 cursor-pointer">
              <i-tabler name="eye" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>