<mat-card>
  <mat-card-header>
    <mat-card-title>Déposer votre travail</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex flex-col space-y-4">
    <p>Sélectionner les fichiers: </p>
    <div>
      <input
        type="file"
        (change)="onFileSelected($event)"
        multiple
        #fileInput
        style="display: none"
      />

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="fileInput.click()"
      >
        Upload Files
      </button>
    </div>

    <div *ngIf="selectedFiles.length > 0" class="file-list">
      <p> Les fichiers sélectionnés:/p>
      <ul>
        <li *ngFor="let file of selectedFiles">
          {{ file.name }}
          <button mat-icon-button type="button" (click)="removeFile(file)">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
      [disabled]="selectedFiles.length <= 0"
    >
      Déposer
    </button>
    <button mat-button type="button" (click)="goBack()">Annuler</button>
  </mat-card-actions>
</mat-card>
