<h2 mat-dialog-title>Justifications</h2>
<mat-dialog-content>
  <!-- Show "No messages" if the absences array is empty -->
  <div *ngIf="absences && absences.length > 0; else noMessages">
    <div *ngFor="let absence of absences">
      <p>
        <strong>Date:</strong> {{ absence.date | date: 'mediumDate' }}<br />
        <strong>Justification:</strong>
        {{ absence.justification}}
      </p>
      <button mat-button color="primary" (click)="confirmJustification(absence)">
        Confirm
      </button>
      <button mat-button color="warn" (click)="rejectJustification(absence)">
        Reject
      </button>
      <mat-divider></mat-divider>
    </div>
  </div>

  <!-- Template for when there are no justifications -->
  <ng-template #noMessages>
    <p>No messages to display.</p>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>