<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">Create New Course</h2>
  <form #courseForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <mat-icon matPrefix>title</mat-icon>
      <input matInput name="title" [(ngModel)]="course.title" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>description</mat-icon>
      <textarea
        matInput
        name="description"
        [(ngModel)]="course.description"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Type</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select name="type" [(ngModel)]="course.type" required>
        <mat-option value="lecture">Lecture</mat-option>
        <mat-option value="workshop">Workshop</mat-option>
        <mat-option value="lab">Lab</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions class="dialog-actions">
      <button mat-button [mat-dialog-close]="false">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!courseForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
