<div class="blank-layout-container justify-content-center align-items-center">
  <div
    class="position-relative overflow-hidden auth-bg min-vh-100 h-100 w-100 d-flex align-items-center justify-content-center"
  >
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100 my-5 my-xl-0">
        <div class="col-sm-9 d-flex flex-column justify-content-center">
          <div
            class="bg-white mb-0 rounded auth-login m-auto w-100 overflow-hidden"
          >
            <div class="row gx-0">
              <!-- Part 1 - Form Section -->
              <div class="col-lg-6 b-r-1 p-r-0">
                <div class="row justify-content-center p-y-24">
                  <div class="col-lg-11">
                    <div class="p-30">
                      <a [routerLink]="['/']">
                        <img
                          src="./assets/images/logos/logo.svg"
                          class="align-middle m-2"
                          alt="logo"
                        />
                      </a>
                      <h4 class="f-w-700 f-s-34 m-t-24 m-b-8">
                        Créez votre compte
                      </h4>

                      <!-- Registration Form -->
                      <form
                        class="m-t-30"
                        [formGroup]="form"
                        (ngSubmit)="submit()"
                      >
                        <!-- First Name -->
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <mat-label>Prénom</mat-label>
                          <input matInput formControlName="firstName" />
                          @if(f['firstName'].touched && f['firstName'].invalid)
                          {
                          <mat-error>Le prénom est requis.</mat-error>
                          }
                        </mat-form-field>

                        <!-- Last Name -->
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <mat-label>Nom de famille</mat-label>
                          <input matInput formControlName="lastName" />
                          @if(f['lastName'].touched && f['lastName'].invalid) {
                          <mat-error>Le nom de famille est requis.</mat-error>
                          }
                        </mat-form-field>

                        <!-- Email -->
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <mat-label>Email</mat-label>
                          <input
                            matInput
                            formControlName="email"
                            type="email"
                          />
                          @if(f['email'].touched && f['email'].invalid) {
                          <mat-error>
                            @if(f['email'].errors?.['required']) { L'e-mail est
                            requis. } @if(f['email'].errors?.['email']) {
                            Veuillez entrer un e-mail valide. }
                          </mat-error>
                          }
                        </mat-form-field>

                        <!-- Password -->
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <mat-label>Mot de passe</mat-label>
                          <input
                            matInput
                            type="password"
                            formControlName="password"
                          />
                          @if(f['password'].touched && f['password'].invalid) {
                          <mat-error>
                            @if(f['password'].errors?.['required']) { Le mot de
                            passe est requis. }
                            @if(f['password'].errors?.['minlength']) { Le mot de
                            passe doit comporter au moins 6 caractères. }
                          </mat-error>
                          }
                        </mat-form-field>

                        <!-- Type Selection -->
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <mat-label>Type</mat-label>
                          <mat-select formControlName="type">
                            <mat-option value="student">Étudiant</mat-option>
                            <mat-option value="teacher">Enseignant</mat-option>
                          </mat-select>
                          @if(f['type'].touched && f['type'].invalid) {
                          <mat-error>Le type est requis.</mat-error>
                          }
                        </mat-form-field>

                        <button
                          mat-flat-button
                          color="primary"
                          class="w-100"
                          [disabled]="!form.valid"
                        >
                          S'inscrire
                        </button>
                      </form>

                      <span class="d-block f-w-500 m-t-24">
                        Vous avez déjà un compte ?
                        <a
                          [routerLink]="['/authentication/login']"
                          class="text-decoration-none text-primary f-w-500 f-s-14"
                        >
                          Se connecter
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Part 2 - Side Image -->
              <div class="col-lg-6 d-none d-lg-block">
                <div
                  class="row justify-content-center align-items-center h-100"
                >
                  <div class="col-lg-9">
                    <div
                      class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center"
                    >
                      <img
                        src="/assets/images/backgrounds/login-side.png"
                        alt="login-side-img"
                        width="300"
                        class="img-fluid"
                      />
                      <h4 class="mb-0 f-s-22 m-y-20">Bienvenue</h4>
                      <p class="f-s-15 m-b-20 m-t-0 mat-body-1">
                        Riche en fonctionnalités, facile à utiliser et très
                        utile pour vos études.
                      </p>
                      <button mat-flat-button color="primary">
                        En savoir plus
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
