<table mat-table [dataSource]="students" class="mat-elevation-z8">
  <!-- Colonne Nom de l'Étudiant -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Étudiants </th>
    <td mat-cell *matCellDef="let student">
      {{ student.firstName }} {{ student.lastName }}
    </td>
  </ng-container>

  <!-- Colonnes Dynamiques des Devoirs -->
  <ng-container *ngFor="let hw of homeworks" [matColumnDef]="hw.id.toString()">
    <th mat-header-cell *matHeaderCellDef>{{ hw.title }}</th>
    <td
      mat-cell
      *matCellDef="let student"
      [ngStyle]="{
        'background-color': hasSubmission(student.id, hw.id) ? 'transparent' : '#ffe6e6'
      }"
    >
      <div class="cell-content">
        {{ getGrade(student.id, hw.id) }}
        <ng-container *ngIf="hasSubmission(student.id, hw.id)">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="setMenuContext(student.id, hw.id)"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <!-- En-têtes et Lignes du Tableau -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let student; columns: displayedColumns"></tr>
</table>

<!-- Définir le Menu à l'extérieur du Tableau -->
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="onDownloadClick(getSubmission(menuStudentId, menuHomeworkId)?.fileUrl)"
  >
    <mat-icon>download</mat-icon>
    Télécharger
  </button>
  <button
    mat-menu-item
    (click)="openFeedbackDialog(getSubmission(menuStudentId, menuHomeworkId))"
  >
    <mat-icon>feedback</mat-icon>
    Commentaires
  </button>
</mat-menu>
