<mat-card class="cardWithShadow">
  <mat-card-content class="p-16 p-x-24">
    <div *ngIf="loadingHomework" class="spinner-container">
      <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
    </div>
    <div *ngIf="!loadingHomework">
      <div class="d-flex align-items-center">
        <!-- Title -->
        <mat-card-title class="m-b-0 title">{{
          homework?.title || "Untitled"
        }}</mat-card-title>
      </div>

      <!-- Description -->
      <div class="description m-t-16">
        <p><strong>Description:</strong></p>
        <p>{{ homework?.description || "No description provided." }}</p>
      </div>

      <!-- Deadline -->
      <div class="deadline m-t-16">
        <p>
          <strong>Deadline:</strong>
          {{
            homework?.deadline
              ? (homework?.deadline | date : "shortDate")
              : "No deadline set"
          }}
        </p>
      </div>

      <!-- Files -->
      <div class="deadline m-t-16">
        <p><strong>Files:</strong></p>
      </div>

      <!-- File List -->
      <div class="file-list m-t-16">
        <p *ngIf="homework?.files?.length === 0">No files attached.</p>
        <ul>
          <li *ngFor="let file of homework?.files" class="file-item">
            <p class="file-name">{{ file.originalname }}</p>
            <button mat-button color="primary">View</button>
          </li>
        </ul>
      </div>

      <!-- <button
        *ngIf="isTeacher"
        mat-raised-button
        color="primary"
        (click)="viewStudentSubmissions()"
      >
        View Student Submissions
      </button> -->
    </div>
  </mat-card-content>
</mat-card>

<app-homework-student-submission-details
  *ngIf="!isTeacher"
></app-homework-student-submission-details>
